button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;

    a {
        font-size: 18px;
        text-decoration: none;
    }

    &.btBlue {
        background-color: #2f55d4;
        border: none;

        a {
            color: white;
        }
    }
}