button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    

    a {
        font-size: 18px;
        text-decoration: none;
        color: #2f55d4;
    }

    &.btBlue {
        background-color: #2f55d4;
        border: none;

        a {
            color: white;
        }
    }

    &:hover{
        box-shadow: 2px 2px 3px #ADB5BD; 
        cursor: pointer;
    }
}